name = "pairusuo-blog"
compatibility_date = "2025-08-31"
pages_build_output_dir = "out"

[env.preview]
name = "pairusuo-blog-preview"

[env.preview.vars]
NEXT_PUBLIC_SITE_URL = "https://pairusuo-blog-preview.pages.dev"
NEXT_PUBLIC_SITE_NAME = "派入所 Preview"

[env.production]
name = "pairusuo-blog"

[env.production.vars]
NEXT_PUBLIC_SITE_URL = "https://pairusuo.top"
NEXT_PUBLIC_SITE_NAME = "派入所"

# Cloudflare R2 配置
# R2_ACCOUNT_ID = ""
# R2_ACCESS_KEY_ID = ""
# R2_SECRET_ACCESS_KEY = ""
# R2_BUCKET_NAME = ""
# R2_PUBLIC_URL = ""